- @presenter.band.each do |header, section|
  .row
    = header
  .row
    - section.each do |person|
      .span2= link_to person.full_name, band_member_path(person)
      - if member_signed_in?
        .row
          (
          = link_to 'Edit', edit_biography_path(person)
          = link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }
          )
    .row
      %hr
