#masthead
  .container
    #masthead-carousel.carousel.slide
      .carousel-inner
        .active.item
          = image_tag '1.jpg', class: 'img-polaroid'
        .item
          = image_tag '2.jpg', class: 'img-polaroid'
        .item
          = image_tag '3.jpg', class: 'img-polaroid'
      %a.carousel-control.left{"data-slide" => "prev", :href => "#masthead-carousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#masthead-carousel"} ›
#content
  .container
    .row
      #welcome.grid-12
        %h1 Monday Night HCC Jazz Band
    .row
      .grid-12
        %hr.row-divider
    .row.divider.about-container
      .grid-6
        %h2
          %span.slash //
          Our Mission
        %p
          To promote education and an appreciation of jazz in the greater
          Houston area by raising funds for workshops, lectures, clinics,
          scholarships, performances and sponsorship of the Houston Community
          College Jazz program.
      .grid-5
        %h2
          %span.slash //
          Events
        .choose-item
          %h3
            %i.icon-star
            Bill Cunliffe @ Cezanne
          %p April 19 and 20
        .choose-item
          %h3
            %i.icon-star
            Bill Cunliffe @ Cezanne
          %p April 19 and 20
        .choose-item
          %h3
            %i.icon-star
            Big band rehearsal with Bill Cunliffe with evening small group concert @ HCC
          %p April 21
        .choose-item
          %h3
            %i.icon-star
            Concert with Bill Cunliffe @ HCC
          %p April 22
        .choose-item
          %h3
            %i.icon-star
            Performance @ Westside Jazz Festival
          %p April 27
