#masthead
  .container
    #masthead-carousel.carousel.slide
      .carousel-inner
        .active.item
          <iframe width="880" height="370" src="//www.youtube.com/embed/9vvHVCQwiaE" frameborder="0" allowfullscreen></iframe>
        .item
          = image_tag '1.jpg', class: 'img-polaroid'
        .item
          = image_tag '2.jpg', class: 'img-polaroid'
        .item
          = image_tag '3.jpg', class: 'img-polaroid'
      %a.carousel-control.left{"data-slide" => "prev", :href => "#masthead-carousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#masthead-carousel"} ›
#content
  .container
    .row
      #welcome.grid-12
        %h1 Monday Night HCC Jazz Band
    .row
      .grid-12
        %hr.row-divider
    .row.divider.about-container
      .grid-6
        %h2
          %span.slash //
          Our Mission
        %p
          To promote education and an appreciation of jazz in the greater
          Houston area by raising funds for workshops, lectures, clinics,
          scholarships, performances and sponsorship of the Houston Community
          College Jazz program.
      .grid-5
        %h2
          %span.slash //
          Events
        .choose-item
          %h3
            %i.icon-star
            Performance @ Cadillac Bar
          %p November 18
  %hr.row-divider
    %h1.center Announcing the Release of "Big Motel"
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} CD Jacket
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Liner Notes
      .tab-content
        #tab1.tab-pane.active
          %a{"href" => '/BigMotel_Jacket_Nov3.pdf'}
            %img{"src" => '/BigMotel_Jacket_Nov3.jpg'}
        #tab2.tab-pane
          %div.boxsizingBorder
            = render 'liner_notes'
