#content
  .container
    .row
      .grid-12
        .pricing-plans.plans-4
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Presenting Sponsor
                .plan-price
                  %span.note> $
                  5,000
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 5000 }} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Platinum
                / /plan-title
                .plan-price
                  %span.note> $
                  2,500
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 2500 }} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Silver
                .plan-price
                  %span.note> $
                  500
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 500 }} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Bronze
                .plan-price
                  %span.note> $
                  250
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 250 }} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Brass
                .plan-price
                  %span.note> $
                  100
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 100 }} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Member
                .plan-price
                  %span.note> $
                  50
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: 50 }} Donate Now
          .plan-container
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Other
                .plan-price
                  $
                  %span.term
              .plan-actions
                %a.btn{:href => "javascript:;", data: { donation: :custom }} Specify Donation
