#content
  .container
    .row
      .grid-12
        .pricing-plans.plans-4
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Presenting Sponsor
                / /plan-title
                .plan-price
                  %span.note> $
                  5,000
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web Site
                    Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    %strong 1
                    Private Performance
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
              / /plan-actions
            / /plan
          / /plan-container
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Platinum
                / /plan-title
                .plan-price
                  %span.note> $
                  2,500
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web
                    Site Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    &nbsp;
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
              / /plan-actions
            / /plan
          / /plan-container
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Silver
                / /plan-title
                .plan-price
                  %span.note> $
                  500
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web
                    Site Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    &nbsp;
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
              / /plan-actions
            / /plan
          / /plan-container
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Bronze
                / /plan-title
                .plan-price
                  %span.note> $
                  250
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web
                    Site Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    &nbsp;
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
              / /plan-container
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Brass
                / /plan-title
                .plan-price
                  %span.note> $
                  100
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web
                    Site Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    &nbsp;
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
          .plan-container
            .plan
              .plan-header
                .plan-title
                  Member
                / /plan-title
                .plan-price
                  %span.note> $
                  50
                  %span.term
                / /plan-price
              / /plan-header
              .plan-features
                %ul
                  %li
                    %strong Web
                    Site Recognition
                  %li
                    %strong Program
                    Recognition
                  %li
                    &nbsp;
              / /plan-features
              .plan-actions
                %a.btn{:href => "javascript:;"} Donate Now
              / /plan-actions
            / /plan
          / /plan-container
        / /pricing-plans
      / /grid-12
    / /row
  / /container
/ /content
